<div class="alert alert-success"> ?Name | ?Credits     <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Style Profile?", about_path %></li>
      <li><%= link_to "My Account?", faq_path %></li>  
      <li><%= link_to "My Credit?", faq_path %></li> 
       <li><%= link_to "Sign Out", faq_path %></li> 
    </ul>